<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>Welcome</h2>
<p>Please find below your access and refresh tokens</p>
<table style="table-layout: fixed; width:100%">
    <tr>
        <th>ACCESS TOKEN</th>
        <th>REFRESH TOKEN</th>
    </tr>
    <tr style="height:200px">
        <td style="word-wrap: break-word"></td>
        <td style="word-wrap: break-word"></td>
    </tr>
</table>
</body>
</html>